langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-experimental
langchain-text-splitters
langgraph
faiss-cpu
fastapi
uvicorn
pydantic
omegaconf
hydra-core
httpx
python-dotenv
loguru
sentence-transformers
pypdf
